


@{
    ViewBag.Title = "AgregarNoticia";
}

@using Campus_virtual.Models;
@model Noticias
<div class="container">
    <h2>AgregarNoticia</h2>


    @using (Html.BeginForm("AgregarNoticia", "Campus", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-group">
            @Html.Label("Titulo: ") @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })<br />
            @Html.Label("Fecha: ") @Html.TextBoxFor(x => x.Fecha)<br />
        </div>
        @Html.Label("Descripcion: ") @Html.TextBoxFor(x => x.Descripcion)<br />
        @Html.Label("Foto: ") <input type="file" name="file" id="file" /><br />
            @Html.Label("Fuente: ") @Html.TextBoxFor(x => x.Nota)<br />

            <input type="submit" value="Aceptar" />
    }
</div>
