@using Campus_virtual.Models;
@model Alumno
@{
    ViewBag.Title = "AgregarAlumno";
}

<h2>Agregar Alumno</h2>

@using (Html.BeginForm("AgregarAlumno", "Campus", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.Label("Nombre: ") @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })<br />
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Apellido: ") @Html.TextBoxFor(x => x.Apellido, new { @class = "form.control" })<br />
        </div>
        <br />
        Division:
        <select name="IdDivision" id="IdDivision" class="form-control">
            @foreach (var division in ViewBag.ListarDivisiones)
            {
                <option value="@division.idDivision">@division.DivisionCompleta</option>
            }
        </select>
        <br />
        
        <div class="form-group">
            @Html.Label("Nombre de Usuario: ") @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })<br />
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Contraseña: ") @Html.TextBoxFor(x => x.Contrasenia, new { @class = "form-control" })<br />

        </div>
        <input type="submit" value="Aceptar" />



    </div>
}