@{
    ViewBag.Title = "Inasistencias";
}
@{ int anio = 0;
    string division = "";
    int contador = 0;
}



</script>
@{List<SelectListItem> listItems = new List<SelectListItem>(); }
@model List<Campus_virtual.Models.Falta>
@{
    listItems.Add(new SelectListItem
    {
        Text = "Ausente"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Tarde",
    });
}
     }
        <div class="container">
            @using (Html.BeginForm("ActualizarAnio", "Campus", FormMethod.Post))
            {
                <h2>Inasistencias</h2>
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <label for="sel1">Seleccionar Año</label>
                        <select id="anio" name="anio" class="form-control"  >
                            <option id="anio" value="1">1</option>
                            <option id="anio" value="2">2</option>
                            <option id="anio" value="3">3</option>
                            <option id="anio" value="4">4</option>
                            <option id="anio" value="5">5</option>
                            <option id="anio" value="6">6</option>
                            
                        </select>
                        
                        
                    </div>

                    

                    <div id="Division" class="form-group">
                       <div class="form-group">
                           <label for="sel1">Seleccionar Año</label>
                           <select id="anio" name="letra" class="form-control" onclick="seleccionar_año()">
                               <option id="letra" value="A">A</option>
                               <option id="letra" value="B">B</option>
                               <option id="letra" value="C">C</option>

                           </select>
                       </div>
                    </div>
                    <div id="materia" class="form-group">
                        <label for="sel1">Seleccionar Materia</label>
                        <select name="materia" id="materia" class="form-control" onclick="seleccionar_materia()">
                            @foreach (var materia in ViewBag.listamateria)
                            {
                                <option value="">@materia.Nombre</option>
                            }
                        </select>
                    </div><br /><br />


                </div>
                <button type="submit" class="btn btn-default">Aceptar</button>
            }
            <!--This is a comment. Comments are not displayed in the browser
            @* @using (Html.BeginForm("CargarInasistencias", "Campus", FormMethod.Post))
            {
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.listaalumnos)
                        {
                            <tr>
                                <td>@item.idAlumno @item.Nombre</td>
                                <td>@item.Apellido @item.IdMateria</td>

                                <td>
                                    @Html.DropDownListFor(x => x[contador].tipo, listItems, "Presente")
                                    </td>
                            </tr>
                            
                            @Html.HiddenFor(x => x[contador].idAlumno, new { id = "idAlumno", name="idAlumno", Value = item.idAlumno })
                            @Html.HiddenFor(x=>x[contador].fecha, new { id = "fecha", name = "fecha", Value = DateTime.Now })
                            @Html.HiddenFor(x => x[contador].IdMateria, new { id = "idMateria", name = "idMateria", Value = item.idMateria })

                            contador++;
                        }
                
                    </tbody>
                </table>
                <input type="submit" class="btn btn-default" />
            }
                *@
                -->
        </div>
