
@{
    ViewBag.Title = "ListaAlumnos";
}

<h2>ListaAlumnos</h2>

<a href="@Url.Action("AgregarAlumno", "Campus")" class="btn btn-info" role="button">Agregar Alumno</a>

<br /><br />

@foreach (var item in ViewBag.ListarAlumnos)
{
    <div class="list-group">
        <a href="@Url.Action("VerAlumno", "Campus", new { idAlumno = item.idAlumno })" class="list-group-item">  @item.Nombre     @item.Apellido </a>
        <a href="@Url.Action("ModificarAlumno", "Campus", new { idAlumno = item.idAlumno })" class="list-group-item">Modificar    </a>
        <a href="@Url.Action("EliminarAlumno", "Campus", new { idAlumno = item.idAlumno })" class="list-group-item">Eliminar </a>
    </div>
}
