@using Campus_virtual.Models;
@model AlumnoDivision

@{
    ViewBag.Title = "ModificarAlumno";
}

<h2>Modificar Alumno</h2>

<form method="post" action="@Url.Action("ModificarAlumno","Campus")" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.idAlumno)

    Nombre: @Html.TextBoxFor(x => x.Nombre)<br />
    Apellido: @Html.TextBoxFor(x => x.Apellido)<br />
    Division: @Html.DropDownListFor(x => x.DivisionCompleta, new SelectList(ViewBag.ListarDivision, "IdDivision", "DivisionCompleta"))
   
    Nombre de Usuario:@Html.TextBoxFor(x => x.NombreUsuario)<br />
    Contraseña: @Html.TextBoxFor(x => x.Contrasenia)<br />
    <input type="submit" value="Aceptar" />

</form>


