@using Campus_virtual.Models;
@model Noticias

<div class="container">
    <div class="page-header">
        <h1>Noticias</h1>
    </div>
    
    @Html.ActionLink("Agregar noticia", "AgregarNoticia", "Home")<br />
        {    
            @foreach (Noticias MiNoti in ViewBag.ListarNoticias)
            {


                

                    <p>@MiNoti.Titulo</p><br />
                    <img src="/content/@MiNoti.Foto" alt="@MiNoti.Foto" style="width:150px;height:150px"><br />
                    <a class="btn btn-default" href="@Url.Action("DetalleNoticia", "Campus" , new { parametro = MiNoti.IdNotica }, null)" role="button">Ver Noticia</a><br />

                    @Html.ActionLink("Editar", "ModificarNoticia", "Home", new { parametro = MiNoti.IdNotica }, null)<br />


                    <p>@Html.ActionLink("Eliminar", "EliminarNoticia", "Home", new { parametro = MiNoti.IdNotica }, null)</p><br />

               
               
                   
                
                
        }

    }
</div>
