<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("La escuela de Hilel", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li></li>
              
                @if ( Session["Nombre"] == "Admin")
                {
                    
                    <li>@Html.ActionLink("Inasitencias", "Inasistencias", "Campus")</li>
                    <li>@Html.ActionLink("Sanciones", "Sanciones", "Campus")</li>
                    <li>@Html.ActionLink("Alumnos", "Alumnos", "Campus")</li>
                    <li>@Html.ActionLink("Notas", "Notas", "Campus")</li>
                }
                
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    

        @RenderBody()
        <hr />
        <footer class="footer">
            <center>
                <ul class="texto">

                    <li> @Html.ActionLink("Nosotros", "Acerca de", "Campus")</li>
                    <li>@Html.ActionLink("Preguntas Frecuentes", "Preguntas frecuentes", "Campus")</li>
                    <li> @Html.ActionLink("Contacto", "Contacto", "Campus")</li>
                    <li> @Html.ActionLink("Esculas adheridas", "Acerca de", "Campus")</li>
                    <li> @Html.ActionLink("Calificar", "Preguntas frecuentes", "Campus")</li>
                    <li>@Html.ActionLink("Ayuda", "Contacto", "Campus")</li>

                </ul>
            </center>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
